#local set
NODE_ENV=
KEY_PEM =
CERT_PEM=
HTTPS_PORT =

# config.js set
DEVELOPMENT_USERNAME=
DEVELOPMENT_PASSWORD=
DEVELOPMENT_DATABASE=
DEVELOPMENT_HOST=

#Oauth kakao
REST_API_KEY=
REDIRECT_URI=
LOGOUT_REDIRECT_URI=